*{
    box-sizing: border-box;
}
body{
    background-color: #639bff;
}
header{
    background-color: #2359b8;
    position: relative;
    top: -50px;
}
body{
    margin: 0;
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
.navBar{
    background-color: #193e80;
    height: 100px;
    position: relative;
    top: -60px;
}
.navLinks{
    font-size: 50px;
    padding: 35px;
    position: relative;
    top: 15px;
}

a{
    color:gold
}

#head1{
   

    position: relative;
}
#head2{
   

    position: relative;
    left: 1500px;

}
#hText1{
    font-size: 75px;
    text-align: center;
    font-family: "Comic Relief";
    position: relative;
    top: 175px;
}
#hText2{
    font-size: 35px;
    text-align: center;
    font-family: "Comic Relief";
    position: relative;
    top: 175px;
}

@media screen and (max-width:600px) {
    aside, section, article{
        width: 100%;
    }

    #head1{
        top: 250px;
    }
}